<h1 class="center-align purple-text">Outside Resources</h1>

<h3 class="center-align">Resources for Survivors</h3>

<div class="container center-align resources">
  <div class="about-resources center-align">
    <a href="http://www.themighty.com"><h4 class="orange-text">The Mighty</h4></a>
    <p>The Mighty provides users with access to user-submitted posts about a variety of struggles including physical and mental illness. They're a great resource for anyone who wants to know what people in similar situations are going through and what they're doing to cope.</p>
  </div>
  <div class="about-resources center-align">
    <a href="http://www.rainn.org"><h4 class="orange-text">Rainn</h4></a>
    <p>Rainn provides information about sexual assault, as well as documentation both for survivors of sexual assault and their loved ones.</p>
  </div>
</div>

<h3 class="center-align">Resources for Loved Ones</h3>

<div class="container center-align resources-single">
  <div class="about-resources center-align">
    <a href="http://www.sascwr.org/files/www/resources_pdfs/sexual_assault/If_Someone_You_Love_is_Sexually_Assaulted.pdf"><h4 class="orange-text">What to do if someone you love is sexually assaulted</h4></a>
    <p>This is a PDF published by the Sexual Assault Support Centre. It details what a loved one of a survivor should expect, and gives some advice as far as how they should react to the situation.</p>
  </div>
</div>
