<div class="main-background background">
  <h1 class="center-align orange-text main-header">There is a light - don't let it go out</h1>
</div>

<div class="center-section row">
  <div class="left col s7">
    <div class="center-align icon">
      <i class="material-icons large">description</i>
      <h2>About Us</h2>
    </div>
  </div>
  <div class="about col s4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<section class="info-section">
  <div class="icon-purple col s4 single-icon center-align">
    <a href="/#/chat">
      <h5>Chat</h5>
      <i class="material-icons medium center-align">forum</i>
      <p>Need to talk to someone? We'll connect you to someone who knows what you're experiencing. Don't worry, it's completely free and anonymous, and no account creation is required.</p>
    </a>
  </div>
    <div class="icon-blue col s4 single-icon center-align">
      <a href="/#/resources">
        <h5>Resources</h5>
        <i class="material-icons medium center-align">description</i>
        <p>We've curated a list of websites and articles that we believe will help to facilitate healing, as well as provide advice as far as what to do from here.</p>
      </a>
    </div>
  <div class="icon-orange col s4 single-icon center-align">
    <a href="/#/nextsteps">
      <h5>Next Steps</h5>
      <i class="material-icons medium center-align">supervisor_account</i>
      <p>We partner with local therapists so that our users who feel ready for their help don't struggle to find the right person.</p>
    </a>
  </div>
</section>
