<div class="main-background background">
  <h1 class="center-align orange-text main-header">You deserve to be heard</h1>
</div>

<div class="center-section row">
  <div class="left col s7">
    <div class="center-align icon">
      <i class="material-icons large">description</i>
      <h2>About Us</h2>
    </div>
  </div>
  <div class="about col s4 valign-wrapper">
    <p class="valign">At Listen, we aim to get the support that sexual assault survivors need, whatever that may be. Our network of counselors available through free, completely anonymous chat, works to discover the individual needs of each survivor. At that point, they can recommend further research from our resources page, or even connect the survivor to a professional therapist in their area.</p>
  </div>
</div>

<section class="info-section">
  <div class="icon-purple col s4 single-icon center-align">
    <a href="/#/chat">
      <h5>Chat</h5>
      <i class="material-icons medium center-align">forum</i>
      <p>Need to talk to someone? We'll connect you to someone who knows what you're experiencing. Don't worry, it's completely free and anonymous, and no account creation is required.</p>
    </a>
  </div>
    <div class="icon-blue col s4 single-icon center-align">
      <a href="/#/resources">
        <h5>Resources</h5>
        <i class="material-icons medium center-align">description</i>
        <p>We've curated a list of websites and articles that we believe will help to facilitate healing, as well as provide advice as far as what to do from here.</p>
      </a>
    </div>
  <div class="icon-orange col s4 single-icon center-align">
    <a href="/#/nextsteps">
      <h5>Next Steps</h5>
      <i class="material-icons medium center-align">supervisor_account</i>
      <p>We partner with local therapists so that our users who feel ready for their help don't struggle to find the right person.</p>
    </a>
  </div>
</section>
