.main-background {
  background-image: url("../images/girl-with-sparkler.jpeg");
}

.main-header {
  font-family: 'Aref Ruqaa', serif;
}

.login-background {
  background-image: url("../images/desk.jpeg");
}

.background {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-background h3 {
  color: white;
}

.main-background h1 {
  margin-top: 0;
  padding-top: 10vh;
}

.purple-text {
  color: #5342A8;
}

.orange-text {
  color: #F38E4A;
}

.green-text {
  color: #2F9A88;
}

.center-section {
  /*background-color: #2F9A88;*/
  height: 60vh;
  /*width: 100vw;*/
}

.center-section p {
  margin-top: 0;
  padding: 2vw;
}

.info-section {
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-purple {
  background-color: #5342A8;
}

.icon-blue {
  background-color: #3b62a1;
}

.icon-orange {
  background-color: #F38E4A;
}

.single-icon {
  margin-top: 2vh;
  height: 30vh;
  width: 100vw;
  transition: all .3s;
}

.single-icon:hover {
  transform: scale(1.05);
}

a {
  color: black;
}

.about {
  background-color: #2F9A88;
  float: right;
  height: 54vh;
  margin: 3vh 3vw 3vh 0;
  border-radius: 10%;
}

.left {
  width: 60vw;
}

.icon {
  margin-top: 4vh;
}

.login-form {
  margin-top: 5vh;
}

.no-margin {
  margin: 0;
}
